<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.leejones.boom</string>
	<key>connections</key>
	<dict>
		<key>AF823719-93F2-4269-988B-190D21A31C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6293EDE2-0F75-4346-A713-F37DCDA3148F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D57E9C56-AC68-48B7-B2F4-CD90F5F8B6CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lee Jones</string>
	<key>description</key>
	<string>search your boom text snippets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>boom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>boom</string>
				<key>script</key>
				<string>./alfred-boom-search "{query}"</string>
				<key>subtext</key>
				<string>search your boom snippets</string>
				<key>title</key>
				<string>boom</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF823719-93F2-4269-988B-190D21A31C40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6293EDE2-0F75-4346-A713-F37DCDA3148F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} was copied to the clipboard.</string>
				<key>title</key>
				<string>boom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D57E9C56-AC68-48B7-B2F4-CD90F5F8B6CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6293EDE2-0F75-4346-A713-F37DCDA3148F</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>AF823719-93F2-4269-988B-190D21A31C40</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>D57E9C56-AC68-48B7-B2F4-CD90F5F8B6CE</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://leejones.github.io</string>
</dict>
</plist>
